---
import Logo from "@/assets/images/logo/logo.png";
import LinkButton from "@/components/common/link-button.astro";
import { ModeToggle } from "@/components/mode-toggle";
import BaseLayout from "@/layouts/base-layout.astro";
import { getSession } from "@/lib/api/auth/session";
import { APP_CONSTANTS } from "@/lib/constants/app.constants";
import { Image } from "astro:assets";
import { CommandIcon, LogInIcon } from "lucide-react";

const session = await getSession();
---

<BaseLayout>
  <div class="flex min-h-screen w-full items-center justify-center p-4 text-justify">
    <div class="flex w-full max-w-xl flex-col items-center justify-center">
      <Image
        src={Logo}
        widths={[240, 540, 720, Logo.width]}
        sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${Logo.width}px`}
        alt={`${APP_CONSTANTS.APP_NAME} logo`}
        loading="eager"
        decoding="async"
      />
      <h1>{APP_CONSTANTS.APP_NAME}</h1>
      <p>{APP_CONSTANTS.APP_DESCRIPTION}</p>
      <div class="flex items-center justify-center gap-4">
        {
          session ? (
            <LinkButton href="/app" variant="outline" size="icon">
              <CommandIcon />
              <span class="sr-only">Go To App Page</span>
            </LinkButton>
          ) : (
            <LinkButton href="/auth/sign-in" variant="outline" size="icon">
              <LogInIcon />
              <span class="sr-only">Go To Sign In Page</span>
            </LinkButton>
          )
        }

        <ModeToggle client:load />
      </div>
    </div>
  </div>
</BaseLayout>
