---
import {
  Table,
  TableBody,
  TableCaption,
  TableCell,
  TableFooter,
  TableHead,
  TableHeader,
  TableRow
} from "@/components/common/table/index.astro";
import CreateContentList from "@/components/forms/content-lists/create-content-list.astro";
import AppLayout from "@/layouts/app-layout.astro";
import { getContentListsByUserId } from "@/services/content-lists/get.content-lists";

const { user } = Astro.locals;
const response = await getContentListsByUserId(user.userId);
let totalCount = 0;
---

<AppLayout>
  <div class="flex max-w-xl flex-col gap-4">
    <CreateContentList />
    <hr />
    <Table>
      <TableCaption>All your lists</TableCaption>
      <TableHeader>
        <TableRow>
          <TableHead>Title</TableHead>
          <TableHead>Contents Count</TableHead>
        </TableRow>
      </TableHeader>
      <TableBody>
        {
          response.map((item) => {
            totalCount += item.contents.length;
            return (
              <TableRow>
                <TableCell>
                  <a href={`/app/lists/${item.uuid}`}>{item.title}</a>
                </TableCell>
                <TableCell>{item.contents.length}</TableCell>
              </TableRow>
            );
          })
        }
      </TableBody>
      <TableFooter>
        <TableRow>
          <TableCell>
            {response.length} list
          </TableCell>
          <TableCell>
            {totalCount} content
          </TableCell>
        </TableRow>
      </TableFooter>
    </Table>
  </div>
</AppLayout>
