---
import SmallLogo from "@/assets/images/Logo/Logo-4q.png";
import Library from "@/assets/images/sign-in/library.jpeg";
import BaseLayout from "@/layouts/base-layout.astro";
import { APP_CONSTANTS } from "@/lib/constants/app.constants";
import { Image } from "astro:assets";
---

<BaseLayout>
  <div class="grid min-h-svh lg:grid-cols-2">
    <div class="flex flex-col gap-4 p-6 md:p-10">
      <div class="flex justify-center gap-2 md:justify-start">
        <a href="/" class="flex items-center gap-2 font-medium">
          <div class="flex size-10 items-center justify-center rounded-md">
            <Image
              src={SmallLogo}
              alt={`${APP_CONSTANTS.APP_NAME} Library`}
              loading="eager"
              decoding="async"
              class="size-8"
            />
          </div>
          {APP_CONSTANTS.APP_NAME}
        </a>
      </div>
      <div class="flex flex-1 items-center justify-center">
        <div class="w-full max-w-xs">
          <slot />
        </div>
      </div>
    </div>
    <div class="bg-muted relative hidden lg:block">
      <Image
        src={Library}
        widths={[240, 540, 720, Library.width]}
        sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${Library.width}px`}
        alt="Bookshelves in a library with rows of books."
        loading="eager"
        decoding="async"
        class="absolute inset-0 h-full w-full object-cover dark:brightness-[0.2] dark:grayscale"
      />
    </div>
  </div>
</BaseLayout>
